section {
  width: 100%;
  margin-top: 3rem;
}

.wrapper {
  display: flex;
  margin: 5rem;
}

.left {
  flex: 4;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 4;
  margin-left: 2rem;
}
